:root{
    --cor-primaria: #1c6e8c;
    --cor-primaria-dark: #274156;
    --cor-texto: #605856;
    --cor-fundo: #FBFCFF;
}

*{
    margin: 0px;
    padding: 0px;
}

.form{
    margin: 10px;
}

.label{
    display: block;
    color: var(--cor-texto);
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input{
    padding: 10px;
    /* margin-top: 10px; */
}

.header{
    background-color: var(--cor-primaria);   
    color: var(--cor-fundo);
    padding: 10px;
}